@model IEnumerable<Domain.Models.Role>

<h2>Roles</h2>
<a asp-action="Create">Create New Role</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.RoleName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.RoleId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@role.RoleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
