@model CourseProject.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Видалення Користувача";
}

<h1>Видалення Користувача</h1>

<h3>Ви впевнені, що хочете видалити користувача <strong>@Model.Login</strong>?</h3>

<form action="/Users/Delete/@Model.UserId" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a href="/Users" class="btn btn-secondary">Скасувати</a>
</form>
