@{
    ViewData["Title"] = "Доступ Заборонено";
}

<h1>Доступ Заборонено</h1>
<p>Ви не маєте необхідних привілеїв для доступу до цієї сторінки.</p>
<a asp-action="Login" asp-controller="Account" class="btn btn-primary">Увійти</a>
